#root {
	height: 100vh;
	width: 100vw;
}

body {
	height: 100vh;
	width: 100vw;
	background-color: white;
	max-height: 100vh;
}

.taskList {
	height: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	padding-right: 50px;
}

.task {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 85%;
	list-style-type: none;
	font-family: Tahoma;
	font-size: 1.2em;
	background-repeat: no-repeat;
  background-size: contain;
	background-position: right center;
	margin: auto 0;
	svg {
		display: none;
	}
	&:hover {
		cursor: pointer;
		svg {
			display:block;
		}
	}
}

.video-play-icon {
	padding-left: 15%;
	display: block;
	margin: 0 auto;
}

.homepage-wrapper {
	display: flex;
	height: 65vh;
	width: 100vw;
	background-color: #E6EAEB;
}

.header-wrapper {
	display: flex;
	justify-content: space-around;
	flex: 0 0 40%;
	height: 70vh;
}

.header-inner {
	margin: auto 0;
}

.listWrapper {
	flex: 0 0 60%;
	padding: 0 60px 0 0;
}

.header {
	font: normal normal normal 34px/1.4em montserrat,sans-serif;
	margin: 0;
	line-height: 25px;
	color: white;
	font-weight: bold;
	margin-bottom: 8px;
	color: #4B4A4E;

}

.subtitle-wrapper {
	display: flex;
}

.sub-header {
	font: normal normal normal 24px/1.4em montserrat,sans-serif;
	letter-spacing: 3px;
	margin: 5px 0 0 10px;
}

.admin-image {
	display: block;
	height: 100%;
	width: 100%;
	&:hover {
		cursor: pointer;
		filter: brightness(110%);
	}
}
.admin-image-update {
	height: 200px;
}

.container {
	width: 40%;
	height: 400px;
	position: relative;
	margin: 0 auto;
	border-radius: 5px;
}

.admin-wrapper {
	padding: 30px;
}

.admin-wrapper h2 {
	margin: 30px 0;
}

.video-close:hover {
	cursor: pointer;
	align-items: right;
}

.video-close svg {
	float: right;
	margin-bottom: 8px;
}

.video-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	z-index: 3;
	display: flex;
	justify-content: space-around;
	background-color: rgba(0,0,0,.5);
	display: flex;
	justify-content: space-around;
}

.video-wrapper div {
	margin-top: 5vh;
}

.video-inner {
	z-index: 5;
}

.formContainer {
	display: flex;
	justify-content: space-between;
	margin: 20px 0 30px 0;
	border: 1px solid black;
	padding: 20px;
}

.inputContainer {
	padding: 15px;
	flex: 0 0 60%;
}

.create-form {
	border: 1px solid black;
	padding: 20px;
}

.inputContainer .taskInput {
	padding: 10px;
	width: 100%;
	border-radius: 25px;
	box-sizing: border-box;
	margin-top: 5px;
}

.formContainer__label {
	margin-bottom: 10px;
}

.taskInput {
	margin-bottom: 10px;
}

.smallTile-wrapper {
	padding: 0 50px;
	display: flex;
	justify-content: space-between;
}

.smallTile {
	height: 300px;
	flex: 0 0 30%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background-repeat: no-repeat;
	background-size: contain;
	svg {
		display: none;
	}
	&:hover {
		cursor: pointer;
		.video-play-icon {
			display: block;
		}
	}
}
