.contact {
  position: absolute;
  display: flex;
  justify-content: space-around;
  top: 0;
  right: 0;
  width: 40px;
  height: 70px;
  background-color: none;
  padding: 5px;
  border-radius: 3px;
  svg {
    margin-top: 0;
    &:hover {
      cursor: pointer;
    }
    @include bp-medium {
      margin: auto 0;
    }
  }
  @include bp-medium {
    right: 30px;
    padding: 20px;
    background-color: $contact-pink;
  }
}
