.taskList {
	height: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0;
	padding: 0;
}

.large-tile {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 85%;
	list-style-type: none;
	font-family: Tahoma;
	font-size: 1.2em;
	background-repeat: no-repeat;
  background-size: contain;
	background-position: center center;
	margin: 0 auto;
	svg, .video-title {
		display: none;
	}
	&:hover {
		cursor: pointer;
		svg, .video-title {
			display:block;
		}
	}
	@include bp-medium {
		background-position: right center;
	}
}

.hover-elems {
	margin: auto auto;
}

.video-play-icon, .video-title {
	padding-left: 15%;
	display: block;
	margin: 0 auto;
}

.video-title {
	color: white;
	text-align: center;
}
