.large-wrapper {
	flex: 0 0 100%;
	@include bp-medium {
		flex: 0 0 49%;
	}
}

.large-tile {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 100%;
	background-repeat: no-repeat;
  background-size: contain;
	background-position: top center;
	margin: 0 auto;
	svg, .video-title {
		display: none;
	}
	&:hover {
		cursor: pointer;
		svg, .video-title {
			display:block;
		}
	}
}

.hover-elems {
	margin: auto auto;
}

.video-play-icon, .video-title {
	padding-left: 15%;
	display: block;
	margin: 0 auto;
}

.video-title {
	color: white;
	text-align: center;
}
