.header-wrapper {
	padding: 30px;
	@include bp-medium {
		margin-bottom: 30px;
		padding: 50px 30px;
	}
}

.header-inner {
	margin: auto 0;
}

.header {
	font: normal normal normal 60px/1.4em 'playfair display',serif;
	margin: 0;
	color: white;
	color: $grey;
	text-align: center;
	line-height: 60px;
	@include bp-large {
		font: normal normal normal 90px/1.4em 'playfair display',serif;
		line-height: 90px;
	}
}

.subtitle-inner {
	display: flex;
	@include bp-medium {
		svg {
			margin-top: 8px;
		}
	}
}

.subtitle-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.sub-header {
	font: normal normal normal 25px/1.4em 'playfair display',serif;
	letter-spacing: 2.5px;
	margin: 0 0 0 15px;
	@include bp-medium {
		font: normal normal normal 40px/1.4em 'playfair display',serif;
	}
}
