.color-block {
	position: fixed;
	width: 100vw;
	height: 50vh;
	background-color: $homepage-background;
	z-index: -1;
}

.wrap {
	flex: 0 0 57%;
	justify-content: space-around;
	@include bp-medium {
		display: flex;
		flex-direction: row;
		padding: 0 30px;
	}
}
