.messageModal {
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin: 0 calc(16vw - 4em);
	width: 80vw;
	height: 30vh;
	color: $grey;
	background-color: $modal-grey;
	border: 1px;
	padding: 2em;
	text-align: center;
	border: 1px solid $modal-grey-darker;
	border-radius: 4px;
	z-index: 5;
	font-size: 1.2em;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	@include bp-medium {
		width: 40vw;
		margin: 0 calc(30vw - 4em);
	}
}

.messageModal-inner {
	svg {
		display: block;
		margin: 0 auto;
	}
}
