.messageModal {
	position: fixed;
	margin: 40vh 30vw;
	width: 40vw;
	height: 20vh;
	color: $grey;
	background-color: white;
	border: 1px;
	padding: 5em;
	text-align: center;
	border: 1px solid $grey;
	border-radius: 20px;
	z-index: 5;
	font-size: 1.2em;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
}
