.tileWrapper {
	@include bp-medium {
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		flex-wrap: wrap;
		flex: 0 0 49%;
	}
}

.tile {
	flex: 0 0 100%;
	background-repeat: no-repeat;
	background-size: contain;
	padding-top: 38%;
	background-position: top center;
	width: 98%;
  height: 0;
  padding-top: 76%;
	margin:  0 auto;
	svg, .video-title {
		display: none;
	}
	&:hover {
		cursor: pointer;
		filter: brightness(115%);
	}
	@include bp-medium {
		display: flex;
		flex: 0 0 49%;
		justify-content: space-around;
		padding-top: 38%;
	}
	&.large {
		@include bp-medium {
			flex: 0 0 100%;
			padding-top: 75%;
		}
	}
}
