.smallTile {
	height: 200px;
	flex: 0 0 30%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background-repeat: no-repeat;
	background-size: contain;
	svg, .video-title {
		display: none;
	}
	&:hover {
		cursor: pointer;
		.video-play-icon, .video-title {
			display: block;
		}
	}
	@include bp-medium {
		height: 300px;
	}
}

.smallTile-wrapper {
	padding: 0 35px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	@include bp-medium {
		flex-direction: row;
		padding: 0 50px;
	}
}
